<!DOCTYPE html>
<html>
    <head>
   		<title>Research Dashboard</title>
        <script data-main="../scripts/main" src="../lib/require.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    </head>
    <body>
    	<div class="nav">
    		<div class="container">
    			<a href="#">REA Dashboard</a>
    		</div>
    	</div>
    	<div class="main">
    		<div class="col-md-2"></div>
    		<div class="boxesDiv col-md-8">
    			<div class="box-results col-md-5">
    			</div>
    			<div class="col-md-2">
    			</div>
    			<div class="box-properties col-md-5">
    			</div>
    		</div>
    		<div class="col-md-2"></div>
    	</div>
    </body>
</html>
