body{
	margin: 0;
	padding: 0;
}
.nav{
	width: 100%;
	background-color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav a{
	text-decoration: none;
	font-size:24px;
	color: white;
}
.main{
	min-height: 500px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.box{
	background-color: #ededed;
	min-height: 100px;
	padding-top: 20px;
	padding-bottom: 20px; 
}
.box-results{
	margin-top: 10px;
}